*.tif
*.txt

/.idea
/data
/Phase2
/weights
/outputs
/Presentation

__pycache__/

*.pth
*.pkl
src/monitor.py
src/visuals.py
src/test.py
assets.py
/solution/results
/solution/evaluation
/solution/weights
/assets
*.7z

